<!-- PRODUCT -->
<section class="product section">
    <div class="container">
        <div class="row product__content">
            {{#with product}}
            <div class="col-4">
                <div class="product__img">
                    <img src="{{photo.[0]}}" alt="">
                </div>
            </div>

            <div class="col-4">
                <div class="product__text">
                    <h3>{{name}}</h3>
                    <hr>
                    <div class="product__text-description">
                        <p>Số người chơi: <span>2 người</span></p>
                        <p>Số người chơi lý tưởng: <span>2 người</span></p>
                        <p>Thời gian chơi: <span>15 phút</span></p>
                        <p>Độ tuổi: <span>14 +</span></p>
                        <p>Thể loại: <span>Action / Dexterity</span></p>
                        <p>Mô tả: <span>{{description}}</span></p>
                    </div>
                    <hr>
                    <div class="product__text-price">
                        <p>{{price}} VNĐ</p>
                        <hr>
                    </div>
                    <div class="product__text-select">
                        <p>Số lượng</p>
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                        </select>
                    </div>
                    <div class="product__text-button">
                        <button>
                            Cho vào giỏ hàng
                        </button>
                    </div>
                </div>
            </div>
            {{/with}}
            <div class="col-4">
                <div class="product__service">
                    <div class="product__service-item row">
                        <div class="col-4"><i class="fa fa-shipping-fast"></i></div>
                        <div class="col-8">
                            <p>Miễn phí vận chuyển</p>
                        </div>
                    </div>
                    <div class="product__service-item row">
                        <div class="col-4"><i class="fa fa-shipping-fast"></i></div>
                        <div class="col-8">
                            <p>Thanh toán dễ dàng</p>
                        </div>
                    </div>
                    <div class="product__service-item row">
                        <div class="col-4"><i class="fa fa-percent"></i></div>
                        <div class="col-8">
                            <p>Uy tín 100%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- HOME PRODUCT -->
<section class="homeProduct section">
    <div class="container">
        <div class="homeProduct__content">
            <div class="homeProduct__title">
                <h3><a href="#">Nhận xét sản phẩm</a></h3>
            </div>
        </div>

        <div id="reviews" class="tab-pane" role="tabpanel">
            <div class="product-reviews">
                <div class="product-details-comment-block">
                    {{!-- data --}}
                    <div id="data-container"></div>
                    {{!-- review --}}
                    <div id="pagination"></div>
                    </br>


                    <div style="width: 60%; margin: 20px auto;">
                        <form id="comment-form" method="post" action="./comment">
                            <input type="hidden" name="productId" value={{product._id}} id="product_id">
                            <input type="hidden" name="userId" value={{user._id}} id="user_id">

                            <input name="author_id" value="{{user}}" id="product-id" type="hidden">
                            <textarea class="p-2" style="width: 100%" name="content" id="comment-content"
                                rows="5"></textarea>
                            <div style="text-align: right">
                                <button type="submit" id="review-submit" href="#reviews-area">
                                    Comment
                                </button>
                            </div>
                        </form>

                    </div>
                    <!-- Quick View | Modal Area End Here -->
                </div>
            </div>
        </div>
        {{!-- <div style="width: 60%; margin: 20px auto;">
            <form id="comment-form" method="post" action="/comment/add-comment">
                <input name="product_id" value="{{product._id}}" id="product-id" type="hidden">
                <input name="author_id" value="{{user}}" id="product-id" type="hidden">

                <textarea class="p-2" style="width: 100%" name="content" id="comment-content" rows="5"></textarea>
                <div style="text-align: right">
                    <button type="submit">
                        Comment
                    </button>
                </div>
            </form>

        </div> --}}
        <div class="homeProduct__content">
            <div class="homeProduct__title">
                <h3><a href="#">Sản phẩm liên quan</a></h3>
            </div>
            <div class="homeProduct__items">
                <div class="owl-carousel owl-theme myProduct">

                    {{!-- chuaaaaaaaaaaaaaa dc ne VU --}}
                    {{#each relatedProducts}}
                    <div class="item card-item">
                        <div class="card" style="width: 16rem;">
                            <img src="{{this.photo.[0]}}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <div class="card-price">
                                    <p class="card-price-num">{{this.price}} <span> VND</span></p>
                                </div>
                            </div>
                            <div class="card__overlay">
                                <a href="/product/detail/{{this._id}}" class="card__overlay-detail">
                                    <i class="fa fa-arrow-circle-right"></i>Xem chi tiết
                                </a>
                                <button class="card__overlay-cart">
                                    <i class="fa fa-shopping-cart"></i>Cho vào giỏ
                                </button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>