<!-- CATEGORY -->
<section class="category section">
    <div class="container">
        <div class="row">
            <div class="col-2 category__left">
                <h4><i class="fa fa-list"></i>DANH MỤC</h4>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-bgfamily-tab" data-toggle="pill" href="#v-pills-bgfamily"
                        role="tab" aria-controls="v-pills-bgfamily" aria-selected="true">Board game gia đình</a>
                    <a class="nav-link" id="v-pills-bgchild-tab" data-toggle="pill" href="#v-pills-bgchild"
                        role="tab" aria-controls="v-pills-bgchild" aria-selected="false">Board game trẻ em</a>
                    <a class="nav-link" id="v-pills-bgvietnam-tab" data-toggle="pill" href="#v-pills-bgvietnam"
                        role="tab" aria-controls="v-pills-bgvietnam" aria-selected="false">Board game Việt Nam</a>
                    <a class="nav-link" id="v-pills-bgUS-tab" data-toggle="pill" href="#v-pills-bgUS" role="tab"
                        aria-controls="v-pills-bgUS" aria-selected="false">Board game Nhập Mỹ</a>
                </div>
            </div>
            <div class="col-10 category__right">
                <div class="category__right-top">
                    <p>Sắp xếp</p>
                    <select name="" id="">
                        <option value="">Phổ biến</option>
                        <option value="">Giá cao đến thấp</option>
                        <option value="">Giá thấp đến cao</option>
                    </select>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-bgfamily" role="tabpanel"
                        aria-labelledby="v-pills-bgfamily-tab">
                        <div class="row">
                            {{#each products}}
                                <div class="col-3 card-item" hidden>
                                    <div class="card">
                                        <img src="/img/product1.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">{{this.name}}</h5>
                                            <p class="card-text">{{this.description}}</p>
                                            <div class="card-price">
                                                <p class="card-price-num">{{this.price}}</p><span> VND</span>
                                            </div>
                                        </div>
                                        <div class="card__overlay">
                                            <a href="/product/{{this._id}}" class="card__overlay-detail">
                                                <i class="fa fa-arrow-circle-right"></i>Xem chi tiết
                                            </a>
                                            <button class="card__overlay-cart">
                                                <i class="fa fa-shopping-cart"></i>Cho vào giỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="category__right-bottom">
                            <ul class="pagination pagination-lg" style="margin-left: 500px"></ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bgchild" role="tabpanel"
                        aria-labelledby="v-pills-bgchild-tab">
                        <div class="row">
                            {{#each products}}
                                <div class="col-3 card-item" hidden>
                                    <div class="card">
                                        <img src="/img/product1.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">{{this.name}}</h5>
                                            <p class="card-text">{{this.description}}</p>
                                            <div class="card-price">
                                                <p class="card-price-num">{{this.price}}</p><span> VND</span>
                                            </div>
                                        </div>
                                        <div class="card__overlay">
                                            <a href="/product/{{this._id}}" class="card__overlay-detail">
                                                <i class="fa fa-arrow-circle-right"></i>Xem chi tiết
                                            </a>
                                            <button class="card__overlay-cart">
                                                <i class="fa fa-shopping-cart"></i>Cho vào giỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="category__right-bottom">
                            <ul class="pagination pagination-lg" style="margin-left: 500px"></ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bgvietnam" role="tabpanel"
                        aria-labelledby="v-pills-bgvietnam-tab">
                        <div class="row">
                            {{#each products}}
                                <div class="col-3 card-item" hidden>
                                    <div class="card">
                                        <img src="/img/product1.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">{{this.name}}</h5>
                                            <p class="card-text">{{this.description}}</p>
                                            <div class="card-price">
                                                <p class="card-price-num">{{this.price}}</p><span> VND</span>
                                            </div>
                                        </div>
                                        <div class="card__overlay">
                                            <a href="/product/{{this._id}}" class="card__overlay-detail">
                                                <i class="fa fa-arrow-circle-right"></i>Xem chi tiết
                                            </a>
                                            <button class="card__overlay-cart">
                                                <i class="fa fa-shopping-cart"></i>Cho vào giỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="category__right-bottom">
                            <ul class="pagination pagination-lg" style="margin-left: 500px"></ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bgUS" role="tabpanel"
                        aria-labelledby="v-pills-bgUS-tab">
                        <div class="row">
                            {{#each products}}
                                <div class="col-3 card-item" hidden>
                                    <div class="card">
                                        <img src="/img/product1.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">{{this.name}}</h5>
                                            <p class="card-text">{{this.description}}</p>
                                            <div class="card-price">
                                                <p class="card-price-num">{{this.price}}</p><span> VND</span>
                                            </div>
                                        </div>
                                        <div class="card__overlay">
                                            <a href="/product/{{this._id}}" class="card__overlay-detail">
                                                <i class="fa fa-arrow-circle-right"></i>Xem chi tiết
                                            </a>
                                            <button class="card__overlay-cart">
                                                <i class="fa fa-shopping-cart"></i>Cho vào giỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="category__right-bottom">
                            <ul class="pagination pagination-lg" style="margin-left: 500px"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/customer/pagination.js"></script>